<div class="login-container">
    <div class="login-box">
        <div class="header">
            <a routerLink="/" class="back-button">
              <mat-icon>arrow_back</mat-icon> Trở về
            </a>
            <h2>Đăng nhập</h2>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Email</label>
              <input type="email" formControlName="email" class="form-control">
              <div class="error-message" *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">
                Email là bắt buộc
              </div>
            </div>
      
            <div class="form-group">
              <label>Mật khẩu</label>
              <div class="password-container">
                <input 
                  [type]="hidePassword ? 'password' : 'text'" 
                  formControlName="password" 
                  class="form-control">
                <button 
                  type="button" 
                  class="toggle-password" 
                  (click)="togglePasswordVisibility()">
                  <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </div>
              <div class="error-message" *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
                Mật khẩu là bắt buộc
              </div>
            </div>
            
      
            <button type="submit" class="login-button" [disabled]="!loginForm.valid">Đăng nhập</button>
          </form>
      
          <div class="register-link">
            Bạn chưa có tài khoản? <a routerLink="/register">Đăng ký ngay</a>
          </div>
       
             
    </div>
</div>